/* src/components/Header/Header.css */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: white;
    width: 100%; /* Se till att headern tar upp hela skärmbredden */
    box-sizing: border-box; /* Inkludera padding i den totala bredden */
  }
  
  
  .hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 25px;
    cursor: pointer;
    z-index: 1000; /* Se till att hamburgermenyn är överallt annat på skärmen */
  }
  
  .bar {
    height: 4px;
    width: 100%;
    background-color: white;
    transition: all 0.3s ease;
  }
  
  .nav-menu {
    display:none;
    list-style: none;
    padding: 0;
  }
  
  .nav-menu ul {
    display: flex;
    gap: 20px;
  }
  
  .nav-menu li {
    margin: 0;
  }
  
  .nav-menu a {
    text-decoration: none;
    color: white;
  }
  
  .nav-menu.active {
    display: block;
  }
  
  @media (max-width: 375px) {
    .header {
      padding: 10px;
    }
  
    .nav-menu {
      display: none; /* Dölja menyn på små skärmar som standard */
      position: absolute;
      top: 60px;
      left: 0;
      background-color: #333;
      width: 100%;
      padding: 20px;
      text-align: center;
    }
  
    .nav-menu.active {
        display: block; /* Visa menyn när den är öppen */
        position: fixed; /* Se till att menyn är fast och inte orsakar sidscrollning */
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.8); /* Gör menyn genomskinlig för att få en overlay-effekt */
      }
  
      .nav-menu ul {
        flex-direction: column; /* Gör menyn vertikal */
        width: 100%;
      }
    
    .bar.open {
      transform: rotate(45deg); /* Förändra hamburgermenyikon till kryss när menyn är öppen */
    }
  
    .bar:nth-child(2).open {
      opacity: 0; /* Dölj mittenraden när den är öppen */
    }
  
    .bar:nth-child(3).open {
      transform: rotate(-45deg); /* Förändra hamburgermenyikon till kryss */
    }
  }
  